@import "settings";
@import "foundation";
//.has-form {
//  position: absolute;
//  top: 0;
//  left: 10.15rem; // adjust distance from left here
//  min-width: 12rem; // adjust width here
//  
//  @media only screen and (max-width: 40em) {
//    min-width: .5rem;
//    top: 0.5rem;
//    .button {
//        padding-left: .5em;
//        height: 1.85rem;
//        background-color: cornflowerblue;
//        
//        &:hover {
//        background-color: gold;
//    }
//  }
//}
//}

.title-area {
    width: 100%;
}

.top-bar  {
    background-color: gold;
    text-align: center;
    
}

h1  {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
//img {
//   width: 100%;
// }

.titlebar{
p {
    font-size: 25px;
    font-family: helvetica; 
    text-align: center;
    background-color: cornflowerblue;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}
}
